In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Merged_final_dataset.csv')

In [3]:
df

,Unnamed: 0.1,Unnamed: 0,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,...,max_travel_time,min_travel_time,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind
0,0,0,1.45,Lyft,1545150004105,"Back+Bay,+Boston,+MA,+USA",Northeastern University,5.0,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
1,1,1,4.17,Lyft,1545149713527,"Financial+District,+Boston,+MA,+USA",Northeastern University,13.5,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,...,35.0,12.0,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
2,2,2,2.61,Uber,1545152108275,"Beacon+Hill,+Boston,+MA,+USA",Northeastern University,8.0,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,...,20.0,9.0,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
3,3,3,2.41,Lyft,1545151204098,"Beacon+Hill,+Boston,+MA,+USA",Northeastern University,16.5,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,...,20.0,8.0,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
4,4,4,1.45,Lyft,1545150004105,"Back+Bay,+Boston,+MA,+USA",Northeastern University,5.0,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,293159,2.30,Lyft,1543203646421,"Boston+University,+Boston,+MA,+USA",Beacon Hill,3.5,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293160,293160,293160,2.30,Lyft,1543203646421,"Boston+University,+Boston,+MA,+USA",Beacon Hill,16.5,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293161,293161,293161,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,17.5,1.0,90e22612-d1c7-47c2-af54-2a2240109889,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293162,293162,293162,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,8.0,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293163,293163,293163,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,13.0,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50

In [4]:
df.drop(df.columns[[0,1]],axis=1,inplace=True)

In [5]:
df.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name', 'date_time', 'date',
       'day', 'hour', 'fare_per_mile', 'class_hour', 'new_price',
       'traveling_time', 'max_travel_time', 'min_travel_time',
       'avg_travel_time', 'merge_date', 'temp', 'clouds', 'pressure', 'rain',
       'humidity', 'wind'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          293164 non-null  float64
 1   cab_type          293164 non-null  object
 2   time_stamp        293164 non-null  int64
 3   destination       293164 non-null  object
 4   source            293164 non-null  object
 5   price             293164 non-null  float64
 6   surge_multiplier  293164 non-null  float64
 7   id                293164 non-null  object
 8   product_id        293164 non-null  object
 9   name              293164 non-null  object
 10  date_time         293164 non-null  object
 11  date              293164 non-null  object
 12  day               293164 non-null  int64
 13  hour              293164 non-null  int64
 14  fare_per_mile     293164 non-null  float64
 15  class_hour        293164 non-null  int64
 16  new_price         293164 non-null  float64
 17  traveling_time    293164 non-null  object
 18  max_travel_time   293164 non-null  float64
 19  min_travel_time   293164 non-null  float64
 20  avg_travel_time   293164 non-null  float64
 21  merge_date        293164 non-null  object
 22  temp              293164 non-null  float64
 23  clouds            293164 non-null  float64
 24  pressure          293164 non-null  float64
 25  rain              293164 non-null  float64
 26  humidity          293164 non-null  float64
 27  wind              293164 non-null  float64
dtypes: float64(14), int64(4), object(10)
memory usage: 62.6+ MB

In [9]:
# df_lyft=df[df['cab_type']=="Lyft"]
# df_uber=df[df['cab_type']=="Uber"]

In [10]:
# df.drop(df.columns[[0]], axis=1, inplace=True)
df.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name', 'date_time', 'date',
       'day', 'hour', 'fare_per_mile', 'class_hour', 'new_price',
       'traveling_time', 'max_travel_time', 'min_travel_time',
       'avg_travel_time', 'merge_date', 'temp', 'clouds', 'pressure', 'rain',
       'humidity', 'wind'],
      dtype='object')

In [12]:
dff=df[["distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind']]

In [13]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   distance         293164 non-null  float64
 1   avg_travel_time  293164 non-null  float64
 2   temp             293164 non-null  float64
 3   clouds           293164 non-null  float64
 4   pressure         293164 non-null  float64
 5   rain             293164 non-null  float64
 6   humidity         293164 non-null  float64
 7   wind             293164 non-null  float64
dtypes: float64(8)
memory usage: 17.9 MB

In [15]:
from sklearn.preprocessing import StandardScaler

scalar=StandardScaler()

dff=scalar.fit_transform(dff)


dff = pd.DataFrame(dff, columns=[
  "distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind'])

In [16]:
dff

,distance,avg_travel_time,temp,clouds,pressure,rain,humidity,wind
0,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766
1,1.748797,3.052229,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766
2,0.374881,0.935440,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766
3,0.198738,0.817840,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766
4,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766
...,...,...,...,...,...,...,...,...
293159,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486
293160,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486
293161,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486
293162,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486
293163,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486

In [17]:
df_lyft.drop(["distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind'], axis=1, inplace=True)

NameError: name 'df_lyft' is not defined

In [19]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,...,max_travel_time,min_travel_time,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind
0,1.45,Lyft,1545150004105,"Back+Bay,+Boston,+MA,+USA",Northeastern University,5.0,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
1,4.17,Lyft,1545149713527,"Financial+District,+Boston,+MA,+USA",Northeastern University,13.5,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,35.0,12.0,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
2,2.61,Uber,1545152108275,"Beacon+Hill,+Boston,+MA,+USA",Northeastern University,8.0,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,20.0,9.0,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
3,2.41,Lyft,1545151204098,"Beacon+Hill,+Boston,+MA,+USA",Northeastern University,16.5,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,20.0,8.0,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
4,1.45,Lyft,1545150004105,"Back+Bay,+Boston,+MA,+USA",Northeastern University,5.0,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,2.30,Lyft,1543203646421,"Boston+University,+Boston,+MA,+USA",Beacon Hill,3.5,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293160,2.30,Lyft,1543203646421,"Boston+University,+Boston,+MA,+USA",Beacon Hill,16.5,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293161,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,17.5,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293162,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,8.0,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293163,2.19,Uber,1543203646358,"North+End,+Boston,+MA,+USA",Beacon Hill,13.0,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50

In [20]:
result = pd.concat([dff, df], axis=1, join='inner')

In [21]:
result

,distance,avg_travel_time,temp,clouds,pressure,rain,humidity,wind,distance,cab_type,...,max_travel_time,min_travel_time,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind
0,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766,1.45,Lyft,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
1,1.748797,3.052229,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766,4.17,Lyft,...,35.0,12.0,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
2,0.374881,0.935440,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766,2.61,Uber,...,20.0,9.0,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
3,0.198738,0.817840,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766,2.41,Lyft,...,20.0,8.0,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
4,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.213603,-2.237593,2.063766,1.45,Lyft,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486,2.30,Lyft,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293160,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486,2.30,Lyft,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293161,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486,2.19,Uber,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293162,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486,2.19,Uber,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293163,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.213603,1.334284,-1.496486,2.19,Uber,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50

In [22]:
result.to_csv('scaled.csv')

In [79]:
# df.info()        #       2,3,4,5,7,8,10,11,13,14,17,18,19,21

In [80]:
# df.drop(df.columns[[0,1,3,4,5,6,7]],axis=1,inplace=True)

In [24]:
# from statsmodels.stats.outliers_influence import variance_inflation_factor

# vif_data = pd.DataFrame()
# vif_data["feature"] = df.columns
  
# # calculating VIF for each feature
# vif_data["VIF"] = [variance_inflation_factor(df.values, i)
#                           for i in range(len(df.columns))]
  
# print(vif_data)

In [23]:
# from sklearn.preprocessing import LabelEncoder

# df['cab_type']=LabelEncoder().fit_transform(df['cab_type'])
# df['name']=LabelEncoder().fit_transform(df['name'])

In [83]:
# df.corr()