In [66]:
import random
import pandas as pd

In [67]:
df = pd.read_csv('cab_rides.csv')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693071 non-null  float64
 1   cab_type          693071 non-null  object
 2   time_stamp        693071 non-null  int64
 3   destination       693071 non-null  object
 4   source            693071 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  693071 non-null  float64
 7   id                693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 52.9+ MB

In [69]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1543708385534,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [70]:
listOfNumbers = []
for x in range (0, 10000):
    listOfNumbers.append(random.randint(0, 693070))

In [71]:
listOfNumbers = list(set(listOfNumbers))

In [72]:
listOfNumbers

[196609,
 131086,
 393232,
 360467,
 65561,
 31,
 393249,
 327731,
 688180,
 589877,
 131128,
 65596,
 589889,
 360514,
 65602,
 458818,
 294981,
 163905,
 589897,
 688203,
 65622,
 360541,
 688221,
 196703,
 65635,
 524387,
 327784,
 131178,
 115,
 360570,
 524421,
 360586,
 491659,
 557202,
 229523,
 524437,
 557206,
 32920,
 196770,
 688292,
 165,
 65702,
 196789,
 131259,
 688318,
 32961,
 196802,
 164034,
 200,
 622795,
 196816,
 196818,
 164050,
 458964,
 655571,
 655580,
 262373,
 295142,
 295143,
 426215,
 360681,
 557285,
 655599,
 590074,
 360700,
 688386,
 360706,
 622854,
 264,
 524552,
 655639,
 426269,
 98590,
 65822,
 590112,
 33059,
 295205,
 491817,
 590122,
 262443,
 131378,
 309,
 491831,
 459065,
 557369,
 590140,
 318,
 229694,
 459072,
 622910,
 360773,
 98637,
 33102,
 65877,
 131413,
 426328,
 295256,
 229722,
 360803,
 688483,
 262500,
 196964,
 328037,
 590187,
 655724,
 393591,
 393592,
 328061,
 688510,
 164225,
 262537,
 98699,
 655757,
 426382,
 295314,
 459155,
 229781,
 131477,
 131479,
 360856,
 229782,
 197024,
 491942,
 65960,
 426416,
 98740,
 229814,
 439,
 590266,
 688572,
 491966,
 524736,
 33217,
 229834,
 229835,
 655826,
 98775,
 590295,
 655836,
 590311,
 393707,
 360946,
 131571,
 459252,
 688629,
 328180,
 426487,
 688634,
 524796,
 33277,
 262659,
 524809,
 393742,
 524820,
 295445,
 229912,
 328220,
 557596,
 623135,
 545,
 197156,
 229927,
 655916,
 361010,
 563,
 688696,
 557631,
 426562,
 655943,
 492104,
 33354,
 426573,
 229966,
 131665,
 33361,
 590426,
 393823,
 262752,
 688739,
 164452,
 459366,
 623213,
 33391,
 524918,
 328310,
 197241,
 557690,
 426628,
 361095,
 295561,
 131726,
 131732,
 98967,
 459417,
 328346,
 230047,
 590498,
 33443,
 459431,
 623279,
 689,
 99010,
 66251,
 328400,
 361171,
 623315,
 230103,
 99035,
 328413,
 99040,
 33507,
 426726,
 656104,
 66281,
 131818,
 197355,
 295660,
 197357,
 525033,
 426728,
 590581,
 230136,
 66300,
 262916,
 262923,
 459532,
 459531,
 783,
 525077,
 394006,
 164631,
 688919,
 295705,
 590627,
 66341,
 262949,
 295718,
 262956,
 262966,
 361271,
 426808,
 623420,
 197440,
 361287,
 197447,
 656203,
 99151,
 426832,
 623442,
 66389,
 66394,
 557918,
 197475,
 164709,
 525159,
 873,
 99177,
 263019,
 459630,
 426863,
 689009,
 328571,
 33670,
 394119,
 623498,
 557964,
 197520,
 426905,
 525210,
 99227,
 295835,
 590749,
 131995,
 924,
 164769,
 492450,
 492458,
 361387,
 33710,
 230318,
 99248,
 230320,
 132017,
 99255,
 525245,
 656319,
 66497,
 459714,
 656325,
 164806,
 66505,
 459724,
 623568,
 623578,
 361434,
 558047,
 558055,
 656367,
 558069,
 558079,
 230401,
 623622,
 263177,
 99346,
 263187,
 394261,
 656408,
 525339,
 164891,
 164896,
 492582,
 263208,
 656425,
 689202,
 295995,
 328769,
 33859,
 263240,
 197705,
 328780,
 394317,
 558158,
 164943,
 328787,
 33880,
 263257,
 328793,
 492636,
 164957,
 623708,
 590944,
 33902,
 558191,
 197751,
 197752,
 427129,
 132221,
 558205,
 164993,
 459908,
 394375,
 525450,
 525452,
 623760,
 33939,
 558231,
 132248,
 33943,
 165018,
 591002,
 492704,
 689313,
 197796,
 132266,
 427181,
 33969,
 394419,
 492727,
 459964,
 132287,
 197824,
 394440,
 525516,
 99533,
 623822,
 33999,
 525521,
 230611,
 1236,
 525525,
 656607,
 427231,
 132328,
 591083,
 460013,
 427246,
 460015,
 230650,
 689403,
 230664,
 427274,
 361740,
 1296,
 623890,
 394515,
 558354,
 623898,
 361754,
 591131,
 558366,
 591138,
 492835,
 99619,
 656679,
 591143,
 591147,
 492853,
 66871,
 689465,
 361787,
 558401,
 460100,
 623941,
 34116,
 230728,
 230730,
 34125,
 329039,
 656722,
 460115,
 99669,
 66902,
 427350,
 132444,
 132445,
 99677,
 361824,
 525665,
 558434,
 296289,
 394595,
 460135,
 329063,
 394605,
 165231,
 263537,
 230770,
 296320,
 329089,
 394627,
 296338,
 198034,
 329117,
 656800,
 296355,
 558501,
 427431,
 361896,
 656823,
 198074,
 263617,
 34242,
 460228,
 132555,
 230871,
 67034,
 460254,
 296426,
 394730,
 591340,
 34288,
 525810,
 132599,
 263683,
 198148,
 525829,
 34308,
 67080,
 230920,
 493065,
 1553,
 427538,
 362003,
 362005,
 99862,
 493079,
 460311,
 132635,
 460323,
 165412,
 99879,
 558632,
 558631,
 460337,
 230966,
 230972,
 263743,
 525887,
 493125,
 34373,
 427594,
 460364,
 263757,
 34383,
 362066,
 493144,
 132696,
 296541,
 34398,
 329314,
 362082,
 263791,
 525944,
 165496,
 67193,
 132728,
 591488,
 165506,
 165510,
 198278,
 493206,
 1688,
 394905,
 427676,
 198301,
 67233,
 132772,
 460453,
 1711,
 100016,
 427697,
 1714,
 591538,
 296630,
 460470,
 558776,
 558777,
 329409,
 624324,
 657093,
 558791,
 427731,
 67283,
 132822,
 591579,
 67295,
 263903,
 165601,
 132831,
 526054,
 591591,
 198374,
 1771,
 132843,
 427757,
 263919,
 100080,
 460529,
 231154,
 329459,
 198399,
 132863,
 198409,
 427790,
 132888,
 591641,
 526116,
 1830,
 1831,
 34601,
 100138,
 689963,
 231218,
 460597,
 329526,
 329527,
 460603,
 198460,
 493376,
 34627,
 1868,
 493389,
 296784,
 427862,
 231255,
 34649,
 132954,
 624475,
 591720,
 460654,
 100213,
 427895,
 296824,
 264058,
 34683,
 624508,
 264061,
 165760,
 67457,
 591748,
 34693,
 1930,
 165770,
 1933,
 624526,
 526230,
 133017,
 362399,
 526239,
 493473,
 67489,
 100262,
 460714,
 526252,
 67503,
 591792,
 591794,
 231355,
 559037,
 493509,
 329674,
 133067,
 100301,
 395215,
 395225,
 493532,
 362464,
 690148,
 2020,
 296937,
 264172,
 493549,
 460781,
 198640,
 264184,
 624633,
 2046,
 657406,
 133119,
 559106,
 329736,
 67598,
 329743,
 198674,
 329750,
 329752,
 231449,
 329753,
 591897,
 624671,
 296993,
 362529,
 690217,
 657451,
 329775,
 624688,
 493621,
 690234,
 460860,
 67646,
 591935,
 231488,
 493633,
 67655,
 264264,
 362569,
 591944,
 133199,
 362577,
 690260,
 100436,
 493658,
 2140,
 460893,
 690270,
 133220,
 100456,
 362603,
 297073,
 34931,
 428148,
 559224,
 133245,
 493695,
 329856,
 526467,
 690311,
 166023,
 34956,
 395405,
 460943,
 428179,
 690328,
 395419,
 592029,
 657566,
 2211,
 329893,
 493736,
 67754,
 133297,
 198836,
 133301,
 690357,
 362693,
 657611,
 133332,
 559317,
 493783,
 264409,
 657629,
 526558,
 35038,
 297185,
 559335,
 67823,
 461041,
 231671,
 559360,
 166144,
 461061,
 624903,
 35082,
 67858,
 2328,
 559386,
 35100,
 592157,
 690462,
 2335,
 395554,
 362786,
 657702,
 133419,
 330032,
 592177,
 690482,
 526648,
 690492,
 100669,
 100670,
 231741,
 35140,
 35144,
 35145,
 330065,
 198993,
 2391,
 35163,
 395612,
 362848,
 330083,
 428388,
 264548,
 461158,
 526695,
 395622,
 559474,
 264570,
 559483,
 526723,
 362884,
 166284,
 133517,
 493967,
 493969,
 625041,
 67987,
 199058,
 625045,
 297372,
 133534,
 297376,
 657824,
 330147,
 264612,
 559523,
 35240,
 428457,
 428458,
 330159,
 428472,
 362939,
 68029,
 526783,
 35263,
 625088,
 199107,
 362951,
 428489,
 297417,
 362953,
 559561,
 100812,
 625102,
 264654,
 395729,
 264662,
 199127,
 330199,
 559579,
 297436,
 657891,
 35300,
 35301,
 362989,
 362992,
 166387,
 592374,
 362999,
 166393,
 363004,
 526849,
 2562,
 264706,
 657930,
 690699,
 133652,
 133657,
 657946,
 68123,
 68127,
 526888,
 166441,
 133675,
 199212,
 461363,
 35383,
 625215,
 559683,
 559684,
 428616,
 297546,
 428626,
 461398,
 363096,
 68192,
 100961,
 494190,
 330350,
 100975,
 199290,
 2682,
 232060,
 232066,
 264835,
 2690,
 2693,
 625286,
 690822,
 100997,
 592522,
 232074,
 526994,
 330388,
 330398,
 494239,
 658082,
 625316,
 494250,
 199341,
 133808,
 592562,
 297650,
 264885,
 428729,
 35516,
 35517,
 494271,
 264896,
 658122,
 363211,
 68306,
 461522,
 232152,
 330457,
 625369,
 166629,
 2792,
 363240,
 68333,
 297712,
 232187,
 658173,
 199424,
 658176,
 297736,
 658186,
 428815,
 494353,
 297749,
 428822,
 330522,
 101146,
 2845,
 101150,
 264989,
 625437,
 494370,
 264998,
 494381,
 625470,
 428864,
 265035,
 494413,
 232279,
 330595,
 527206,
 166761,
 428915,
 330617,
 625537,
 527234,
 625539,
 68485,
 494474,
 297867,
 35727,
 232337,
 297879,
 428962,
 2981,
 363431,
 265130,
 494508,
 625587,
 101301,
 330678,
 166839,
 330685,
 297918,
 330687,
 199640,
 232415,
 363490,
 297955,
 363492,
 625637,
 658406,
 461796,
 592873,
 429034,
 330735,
 3055,
 658419,
 199672,
 396287,
 363525,
 363529,
 494602,
 527371,
 3094,
 232473,
 166938,
 429081,
 658461,
 625694,
 691233,
 232492,
 527405,
 68656,
 560182,
 330808,
 658495,
 363585,
 429125,
 35911,
 101453,
 625749,
 232536,
 429148,
 592990,
 330846,
 592996,
 134244,
 199783,
 134247,
 461934,
 3185,
 232569,
 134270,
 330878,
 461951,
 265346,
 461955,
 3215,
 134288,
 363670,
 429209,
 101530,
 461980,
 429216,
 330913,
 232609,
 265380,
 330927,
 625842,
 298163,
 429241,
 396473,
 265413,
 691399,
 396488,
 658633,
 265419,
 560337,
 494807,
 167131,
 3292,
 691425,
 658659,
 625891,
 396519,
 101612,
 134381,
 3308,
 3325,
 593151,
 527617,
 691457,
 ...]

In [73]:
for i in listOfNumbers:
    df['distance'][i] = str(df['distance'][i] * 1.609344) + " km"

C:\Users\Dell\AppData\Local\Temp\ipykernel_2500\335059266.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance'][i] = str(df['distance'][i] * 1.609344) + " km"

In [75]:
df.to_csv('cab_rides.csv')

In [62]:
for i in range(0,693070):
    if type(df['distance'][i]) == str:
#         print(df['distance'][i])
        num_list = df['distance'][i].split(" ")
        df['distance'][i] = float(num_list[0])

In [65]:
for i in range(0,693070):
     if type(df['distance'][i]) == str:
            print(i)

In [76]:
df = pd.read_csv("new_cheak.csv")

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637976 entries, 0 to 637975
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0.1      637976 non-null  int64
 1   index             637976 non-null  int64
 2   Unnamed: 0        637976 non-null  int64
 3   distance          637976 non-null  float64
 4   cab_type          637976 non-null  object
 5   time_stamp        637976 non-null  int64
 6   destination       637976 non-null  object
 7   source            637976 non-null  object
 8   price             637976 non-null  float64
 9   surge_multiplier  637976 non-null  float64
 10  id                637976 non-null  object
 11  product_id        637976 non-null  object
 12  name              637976 non-null  object
 13  date_time         637976 non-null  object
 14  date              637976 non-null  object
 15  day               637976 non-null  int64
 16  hour              637976 non-null  int64
dtypes: float64(3), int64(6), object(8)
memory usage: 82.7+ MB