In [1]:
pip install selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.3 MB/s
Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 56.6 MB/s
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     |████████████████████████████████| 384 kB 68.8 MB/s
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.8/dist-packages (from selenium) (2022.12.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in /usr/local/lib/python3.8/dist-packages (from trio~=0.17->selenium) (2.10)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.4-py3-none-any.whl (14 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 5.8 MB/s
Installing collected packages: sniffio, outcome, h11, exceptiongroup, async-generator, wsproto, urllib3, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.13 which is incompatible.
Successfully installed async-generator-1.10 exceptiongroup-1.0.4 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 sniffio-1.3.0 trio-0.22.0 trio-websocket-0.9.2 urllib3-1.26.13 wsproto-1.2.0

In [2]:
pip install kora

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kora
  Downloading kora-0.9.20-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 4.1 MB/s
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from kora) (7.9.0)
Requirement already satisfied: fastcore in /usr/local/lib/python3.8/dist-packages (from kora) (1.5.27)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from fastcore->kora) (21.3)
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (from fastcore->kora) (21.1.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (5.7.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 14.7 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->kora) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->kora) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->kora) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->kora) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->fastcore->kora) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->kora) (0.7.0)
Installing collected packages: jedi, kora
Successfully installed jedi-0.18.2 kora-0.9.20

In [3]:
import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By
import re
import time
from kora.selenium import wd as driver

In [4]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [5]:
df = pd.read_csv("/content/gdrive/MyDrive/data_second_part_3.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        20000 non-null  int64
 1   Unnamed: 0.1                      20000 non-null  int64
 2   Unnamed: 0.1.1                    20000 non-null  int64
 3   Unnamed: 0.1.1.1                  20000 non-null  int64
 4   Unnamed: 0.1.1.1.1                20000 non-null  int64
 5   Unnamed: 0.1.1.1.1.1              20000 non-null  int64
 6   Unnamed: 0.1.1.1.1.1.1            20000 non-null  int64
 7   Unnamed: 0.1.1.1.1.1.1.1          20000 non-null  int64
 8   Unnamed: 0.1.1.1.1.1.1.1.1        20000 non-null  int64
 9   Unnamed: 0.1.1.1.1.1.1.1.1.1      20000 non-null  int64
 10  Unnamed: 0.19                     20000 non-null  int64
 11  Unnamed: 0.18                     20000 non-null  int64
 12  Unnamed: 0.17                     20000 non-null  int64
 13  Unnamed: 0.16                     20000 non-null  int64
 14  Unnamed: 0.15                     20000 non-null  int64
 15  Unnamed: 0.14                     20000 non-null  int64
 16  Unnamed: 0.13                     20000 non-null  int64
 17  Unnamed: 0.12                     20000 non-null  int64
 18  Unnamed: 0.11                     20000 non-null  int64
 19  Unnamed: 0.10                     20000 non-null  int64
 20  Unnamed: 0.9                      20000 non-null  int64
 21  Unnamed: 0.8                      20000 non-null  int64
 22  Unnamed: 0.7                      20000 non-null  int64
 23  Unnamed: 0.6                      20000 non-null  int64
 24  Unnamed: 0.5                      20000 non-null  int64
 25  Unnamed: 0.4                      20000 non-null  int64
 26  Unnamed: 0.3                      20000 non-null  int64
 27  Unnamed: 0.2                      20000 non-null  int64
 28  Unnamed: 0.1.1.1.1.1.1.1.1.1.1    20000 non-null  int64
 29  index                             20000 non-null  int64
 30  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1  20000 non-null  int64
 31  distance                          20000 non-null  float64
 32  cab_type                          20000 non-null  object
 33  time_stamp                        20000 non-null  int64
 34  destination                       20000 non-null  object
 35  source                            20000 non-null  object
 36  price                             20000 non-null  float64
 37  surge_multiplier                  20000 non-null  float64
 38  id                                20000 non-null  object
 39  product_id                        20000 non-null  object
 40  name                              20000 non-null  object
 41  date_time                         20000 non-null  object
 42  date                              20000 non-null  object
 43  day                               20000 non-null  int64
 44  hour                              20000 non-null  int64
 45  fare_per_mile                     20000 non-null  float64
 46  class_hour                        20000 non-null  int64
 47  new_price                         20000 non-null  float64
 48  traveling_time                    6387 non-null   object
dtypes: float64(5), int64(35), object(9)
memory usage: 7.5+ MB

In [7]:
list_of_destination = list(df['destination'].unique())
list_of_source = list(df['source'].unique())

In [8]:
# crate the class name as time_travel
class Time_travel:
    
    def __init__(self, destination , source , driver):
        
        self.destination = destination
        self.source = source
        self.driver = driver
        self.__url = " "
        self.driver.minimize_window()
        
    def car_button_click(self):
        first_part = "https://www.google.com/maps/dir/"
        second_part = self.source +"/"
        third_part = self.destination
        last_part = "/"
        self.__url = first_part + second_part + third_part + last_part

        

        self.driver.get(self.__url)
        print(self.__url)
        sleep(10)

        car_botton_driver = self.driver.find_element(By.XPATH , "/html/body/div[3]/div[9]/div[3]/div[1]/div[2]/div/div[2]/div/div/div/div[2]/button")

        car_botton_driver.click()
        
        self.__url = self.driver.current_url
        print(self.__url)
        
    def add_time_traveling(self, time_stamp):
        current_url = self.__url
        add_8_to_it = re.search("4m1" , current_url)
        current_url = current_url[:add_8_to_it.end()] + "8" + current_url[add_8_to_it.end()+1:]
        # print(current_url)
        add_7to_it = re.search("8!4m1" , current_url)
        current_url = current_url[:add_7to_it.end()] + "7" + current_url[add_7to_it.end()+1:]
        unknow_part = "!2m3!6e0!7e2!8j"
        str_time_stamp = str(int(time_stamp / 1000))
        car_code = "!3e0"
        new_url = current_url+unknow_part+ str_time_stamp + car_code

        

        self.driver.get(new_url)

        # sleep(3)

        distance = self.driver.find_element(By.XPATH , "/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[4]/div[1]/div[1]/div[1]/div[1]/div[1]/span[2]/span")

        return distance.text

In [9]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,product_id,name,date_time,date,day,hour,fare_per_mile,class_hour,new_price,traveling_time
0,0,0,0,0,0,0,0,0,0,0,...,lyft,Lyft,2018-12-18 19:00:05.508000000,2018-12-18,1,19,4.90,6,8.120,6–14 min
1,1,1,1,1,1,1,1,1,1,1,...,lyft_lux,Lux Black,2018-11-26 13:41:10.309999872,2018-11-26,0,13,11.54,4,16.995,6–14 min
2,2,2,2,2,2,2,2,2,2,2,...,lyft_line,Shared,2018-12-17 14:55:04.992999936,2018-12-17,0,14,3.50,4,5.150,6–14 min
3,3,3,3,3,3,3,3,3,3,3,...,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-02 05:28:04.696000000,2018-12-02,6,5,11.06,1,12.500,5–8 min
4,4,4,4,4,4,4,4,4,4,4,...,6c84fd89-3f11-4782-9b50-97c468b19529,Black,2018-12-14 22:25:06.585999872,2018-12-14,4,22,14.16,7,18.240,7–16 min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,19995,19995,19995,19995,19995,19995,19995,19995,19995,...,lyft,Lyft,2018-12-14 20:40:13.602999808,2018-12-14,4,20,4.34,6,12.390,7–16 min
19996,19996,19996,19996,19996,19996,19996,19996,19996,19996,19996,...,lyft_lux,Lux Black,2018-12-14 20:40:13.602999808,2018-12-14,4,20,9.30,6,26.325,7–16 min
19997,19997,19997,19997,19997,19997,19997,19997,19997,19997,19997,...,lyft_line,Shared,2018-11-27 03:51:21.931000064,2018-11-27,1,3,2.89,1,7.000,6–8 min
19998,19998,19998,19998,19998,19998,19998,19998,19998,19998,19998,...,lyft_premier,Lux,2018-11-27 03:51:21.931000064,2018-11-27,1,3,8.06,1,19.500,6–8 min
19999,19999,19999,19999,19999,19999,19999,19999,19999,19999,19999,...,lyft_luxsuv,Lux Black XL,2018-11-27 03:51:21.931000064,2018-11-27,1,3,13.43,1,32.500,6–8 min

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        20000 non-null  int64
 1   Unnamed: 0.1                      20000 non-null  int64
 2   Unnamed: 0.1.1                    20000 non-null  int64
 3   Unnamed: 0.1.1.1                  20000 non-null  int64
 4   Unnamed: 0.1.1.1.1                20000 non-null  int64
 5   Unnamed: 0.1.1.1.1.1              20000 non-null  int64
 6   Unnamed: 0.1.1.1.1.1.1            20000 non-null  int64
 7   Unnamed: 0.1.1.1.1.1.1.1          20000 non-null  int64
 8   Unnamed: 0.1.1.1.1.1.1.1.1        20000 non-null  int64
 9   Unnamed: 0.1.1.1.1.1.1.1.1.1      20000 non-null  int64
 10  Unnamed: 0.19                     20000 non-null  int64
 11  Unnamed: 0.18                     20000 non-null  int64
 12  Unnamed: 0.17                     20000 non-null  int64
 13  Unnamed: 0.16                     20000 non-null  int64
 14  Unnamed: 0.15                     20000 non-null  int64
 15  Unnamed: 0.14                     20000 non-null  int64
 16  Unnamed: 0.13                     20000 non-null  int64
 17  Unnamed: 0.12                     20000 non-null  int64
 18  Unnamed: 0.11                     20000 non-null  int64
 19  Unnamed: 0.10                     20000 non-null  int64
 20  Unnamed: 0.9                      20000 non-null  int64
 21  Unnamed: 0.8                      20000 non-null  int64
 22  Unnamed: 0.7                      20000 non-null  int64
 23  Unnamed: 0.6                      20000 non-null  int64
 24  Unnamed: 0.5                      20000 non-null  int64
 25  Unnamed: 0.4                      20000 non-null  int64
 26  Unnamed: 0.3                      20000 non-null  int64
 27  Unnamed: 0.2                      20000 non-null  int64
 28  Unnamed: 0.1.1.1.1.1.1.1.1.1.1    20000 non-null  int64
 29  index                             20000 non-null  int64
 30  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1  20000 non-null  int64
 31  distance                          20000 non-null  float64
 32  cab_type                          20000 non-null  object
 33  time_stamp                        20000 non-null  int64
 34  destination                       20000 non-null  object
 35  source                            20000 non-null  object
 36  price                             20000 non-null  float64
 37  surge_multiplier                  20000 non-null  float64
 38  id                                20000 non-null  object
 39  product_id                        20000 non-null  object
 40  name                              20000 non-null  object
 41  date_time                         20000 non-null  object
 42  date                              20000 non-null  object
 43  day                               20000 non-null  int64
 44  hour                              20000 non-null  int64
 45  fare_per_mile                     20000 non-null  float64
 46  class_hour                        20000 non-null  int64
 47  new_price                         20000 non-null  float64
 48  traveling_time                    6387 non-null   object
dtypes: float64(5), int64(35), object(9)
memory usage: 7.5+ MB

In [11]:
# cheak = Time_travel(list_of_destination[0] , list_of_source[0] , driver)
# cheak.car_button_click()
# for i in range(len(df)):
#     if df['destination'][i] == list_of_destination[0] and df['source'][i] == list_of_source[0]:
#         print(f"time stamp is {df['time_stamp'][i]} and index is {i} ")
#         df['traveling_time'][i] = cheak.add_time_traveling(df['time_stamp'][i])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 49 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        20000 non-null  int64
 1   Unnamed: 0.1                      20000 non-null  int64
 2   Unnamed: 0.1.1                    20000 non-null  int64
 3   Unnamed: 0.1.1.1                  20000 non-null  int64
 4   Unnamed: 0.1.1.1.1                20000 non-null  int64
 5   Unnamed: 0.1.1.1.1.1              20000 non-null  int64
 6   Unnamed: 0.1.1.1.1.1.1            20000 non-null  int64
 7   Unnamed: 0.1.1.1.1.1.1.1          20000 non-null  int64
 8   Unnamed: 0.1.1.1.1.1.1.1.1        20000 non-null  int64
 9   Unnamed: 0.1.1.1.1.1.1.1.1.1      20000 non-null  int64
 10  Unnamed: 0.19                     20000 non-null  int64
 11  Unnamed: 0.18                     20000 non-null  int64
 12  Unnamed: 0.17                     20000 non-null  int64
 13  Unnamed: 0.16                     20000 non-null  int64
 14  Unnamed: 0.15                     20000 non-null  int64
 15  Unnamed: 0.14                     20000 non-null  int64
 16  Unnamed: 0.13                     20000 non-null  int64
 17  Unnamed: 0.12                     20000 non-null  int64
 18  Unnamed: 0.11                     20000 non-null  int64
 19  Unnamed: 0.10                     20000 non-null  int64
 20  Unnamed: 0.9                      20000 non-null  int64
 21  Unnamed: 0.8                      20000 non-null  int64
 22  Unnamed: 0.7                      20000 non-null  int64
 23  Unnamed: 0.6                      20000 non-null  int64
 24  Unnamed: 0.5                      20000 non-null  int64
 25  Unnamed: 0.4                      20000 non-null  int64
 26  Unnamed: 0.3                      20000 non-null  int64
 27  Unnamed: 0.2                      20000 non-null  int64
 28  Unnamed: 0.1.1.1.1.1.1.1.1.1.1    20000 non-null  int64
 29  index                             20000 non-null  int64
 30  Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1  20000 non-null  int64
 31  distance                          20000 non-null  float64
 32  cab_type                          20000 non-null  object
 33  time_stamp                        20000 non-null  int64
 34  destination                       20000 non-null  object
 35  source                            20000 non-null  object
 36  price                             20000 non-null  float64
 37  surge_multiplier                  20000 non-null  float64
 38  id                                20000 non-null  object
 39  product_id                        20000 non-null  object
 40  name                              20000 non-null  object
 41  date_time                         20000 non-null  object
 42  date                              20000 non-null  object
 43  day                               20000 non-null  int64
 44  hour                              20000 non-null  int64
 45  fare_per_mile                     20000 non-null  float64
 46  class_hour                        20000 non-null  int64
 47  new_price                         20000 non-null  float64
 48  traveling_time                    6387 non-null   object
dtypes: float64(5), int64(35), object(9)
memory usage: 7.5+ MB

In [13]:
completed_list = []

In [ ]:
sum = 1

tik = time.time()
try:
  for source in list_of_source:
    for destination in list_of_destination:
      cheak = Time_travel(destination , source , driver)
      cheak.car_button_click()
      for i in range(len(df)):
        if type(df['traveling_time'][i]) == float:
          if df['destination'][i] == destination and df['source'][i] == source:
            print(f"time stamp is {df['time_stamp'][i]} and index is {i} ")
            df['traveling_time'][i] = cheak.add_time_traveling(df['time_stamp'][i])

      completed_list.append((source , destination))
      del cheak
      print(f"source = {source} and destination = {destination}")
finally:
  print("DATA HAS BEEN SAVED")
  df.to_csv("/content/gdrive/MyDrive/data_second_part_3.csv")

tok = time.time()

print(tok - tik)

https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Back+Bay,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Back+Bay,+Boston,+MA/@42.3454658,-71.0951354,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e37a0ef815f5b1:0xbca3cc92599b5bc4!2m2!1d-71.0794717!2d42.3495236
source = Northeastern+University,+Boston,+MA,+USA and destination = Back+Bay,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Financial+District,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Financial+District,+Boston,+MA/@42.3517381,-71.0898264,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3708144b42365:0x65a709a4c7640b33!2m2!1d-71.0549768!2d42.3559219
source = Northeastern+University,+Boston,+MA,+USA and destination = Financial+District,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/South+Station,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/South+Station,+700+Atlantic+Ave,+Boston,+MA+02110/@42.3415623,-71.0897173,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e37081fd13d33b:0xc6b2706315b5125c!2m2!1d-71.0551625!2d42.3519448
source = Northeastern+University,+Boston,+MA,+USA and destination = South+Station,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Haymarket+Square,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Haymarket+Square,+Boston,+MA/@42.3487033,-71.0896035,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3708f060b5dc7:0x7d0014b91aacbdee!2m2!1d-71.0585053!2d42.3637994
source = Northeastern+University,+Boston,+MA,+USA and destination = Haymarket+Square,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Theatre+District,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Boston+Theater+District,+Boston,+MA/@42.3454927,-71.0941828,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e37a77b521516d:0x2f32ddd4e982678b!2m2!1d-71.0642623!2d42.3518662
source = Northeastern+University,+Boston,+MA,+USA and destination = Theatre+District,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Northeastern+University,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/@42.3397854,-71.1592116,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067
source = Northeastern+University,+Boston,+MA,+USA and destination = Northeastern+University,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/West+End,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/West+End,+Boston,+MA/@42.3511233,-71.0929993,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3709746ecef25:0xde6095a7bc161a88!2m2!1d-71.0641373!2d42.3651729
source = Northeastern+University,+Boston,+MA,+USA and destination = West+End,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Boston+University,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Boston+University,+Boston,+MA+02215/@42.3451529,-71.1052318,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e379f063e53817:0x2b346e00e0a3bec8!2m2!1d-71.1053991!2d42.3504997
source = Northeastern+University,+Boston,+MA,+USA and destination = Boston+University,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/North+End,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/North+End,+Boston,+MA/@42.3481228,-71.088519,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3708939aab979:0xbb19baf68f3d5228!2m2!1d-71.0554946!2d42.3652089
source = Northeastern+University,+Boston,+MA,+USA and destination = North+End,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/North+Station,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/North+Station,+135+Causeway+St,+Boston,+MA+02114/@42.3511558,-71.0929993,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3708e162d05cb:0x651087057818603a!2m2!1d-71.061974!2d42.3664424
source = Northeastern+University,+Boston,+MA,+USA and destination = North+Station,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Beacon+Hill,+Boston,+MA,+USA/
https://www.google.com/maps/dir/Northeastern+University,+360+Huntington+Ave,+Boston,+MA+02115/Beacon+Hill,+Boston,+MA/@42.3457114,-71.095483,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c!2m2!1d-71.0891717!2d42.3398067!1m5!1m1!1s0x89e3709e822ace4f:0xad0e41814f41c4d8!2m2!1d-71.06939!2d42.3561948
source = Northeastern+University,+Boston,+MA,+USA and destination = Beacon+Hill,+Boston,+MA,+USA
https://www.google.com/maps/dir/Northeastern+University,+Boston,+MA,+USA/Fenway,+Boston,+MA,+USA/

In [ ]:
df.info()